@import './../mixins.scss';

.header{
    @include respond-to(small) {
        padding: 25px 35px 0px 35px;
        background-image: 
        url(./../img/line/line-bc-user1.png),
        url(./../img/line/line-bc-user2.png),
        url(./../img/line/line-bc-user3.png);
        background-position: 
            50% 0%,
            30% 53%,
            110% 30%;
        background-size: 
            60%,
            130%,
            70%;
        background-repeat: no-repeat;
    }
    
    @include respond-to(medium) {
        padding: 50px 80px 0px 85px;
        background-image: 
        url(./../img/line/line-bc-user1.png),
        url(./../img/line/line-bc-user2.png),
        url(./../img/line/line-bc-user3.png);
        background-position: 
            50% -35%,
            30% 53%,
            100% 40%;
        background-size: 
            60%,
            130%,
            70%;
        background-repeat: no-repeat;
    }
    
    @include respond-to(large) {
        padding: 50px 80px 0px 85px;
        background: 
        url(./../img/line/line-bc-user1.png)90% 0% no-repeat,
        url(./../img/line/line-bc-user2.png)100% 90% no-repeat,
        url(./../img/line/line-bc-user3.png)100% 60% no-repeat,
        url(./../img/line/line-header1.png)0% 70%  no-repeat; 
    }
}
