@import './../../mixins.scss';

.header__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    margin: 60px 0 53px;
    @include respond-to(small) {
        &--right{
            order: 2;
            text-align: center;
            h2{
                margin-top: 40px;
                margin-bottom: 36px;
                font-size: 24px;
                font-weight: 700;
                span{
                    font-size: 32px;
                    background: linear-gradient(91.57deg, #C0B7E8 -1.02%, #8176AF 36.25%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }
            }

            p{
                display: none;
            }
            &--button{
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 40px;
                img{
                    display: none;
                }
            }
            button{
                padding: 16px 40px;
                height: 52px;
                background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
                border-radius: 40px;
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                color: #343045;
                position: relative;
                border: none;
                cursor: pointer;    
            }
        }

        &--left{
            order: 1;
            img{
                width: 320px;
                height: 280px;
                border-radius: 100px 100px 100px 240px;
                box-shadow: rgba(0, 0, 0, 0.148) 0px 0px 0px 15px;
            }
        }


    }

    @include respond-to(medium) {

    }

    @include respond-to(large) {
        flex-direction: row;

        &--right{
            max-width: 501px;
            max-height: 420px;
    
            h2{
                font-size: 40px;
                font-weight: 700;
                line-height: 55px;
                margin-bottom: 36px;
                span{
                    background: linear-gradient(91.57deg, #C0B7E8 -1.02%, #8176AF 36.25%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }
            }
    
            p{
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                margin-bottom: 66px;
            }
    
            &--button{
                display: flex;
                align-items: center;
                column-gap: 40px;
            }
            button{
                padding: 16px 40px;
                height: 48px;
                background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
                border-radius: 40px;
                font-size: 12px;
                font-weight: 700;
                line-height: 15px;
                color: #343045;
                position: relative;
                border: none;
                cursor: pointer;
    
                &:hover{
                    color: #fff;
                    border: 2px solid white;
                }

                &::after{
                    content: url(./../../img/icons/arrow-header.png);
                    position: absolute;
                    top: 50%;
                    left: 125%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    
        &--left{
            img{
                width: 490px;
                height: 426px;
                border-radius: 100px 100px 100px 240px;
                box-shadow: rgba(0, 0, 0, 0.148) 0px 0px 0px 15px;
            }
        }
    }
}