@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background: radial-gradient(circle, rgba(58,52,86,1) 35%, rgba(33,30,46,1) 100%);
}
.no-scroll {
  overflow-y: hidden;
}